<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
  <main class="min-h-screen bg-zinc-900 text-white">
    <div class="form p-10">
      <form action="/create" method="post">
        <input name="title" class="block px-6 py-2 outline-none w-1/2 bg-zinc-800 rounded-sm" type="text" placeholder="Enter Your Task">
        <textarea name="details" class="block px-6 py-2 outline-none w-1/2 mt-3 bg-zinc-800 rounded-sm resize-none" type="text" placeholder="Describe Your Task"></textarea>
        <input class="mt-2 bg-green-500 cursor-pointer rounded-lg px-5 py-2 " type="submit" value="Create Task">
      </form>
    </div>

    <div class="tasks flex gap-3 flex-wrap px-10">
      <% if(files.length > 0) { %>
        <% files.forEach(val => { %>
          <% console.log(val) %>
          <div class="task w-72 rounded-sm bg-zinc-800 px-6 py-2">
            <h1 class="text-3xl tracking-tighter"><%= val %></h1>
            <a class="text-blue-500" href="files/<%= val %>">read more</a>
          </div>
        <% }) %>
      <% } else { %>
        <h1 class="text-zinc-500">No Tasks yet.</h1>
      <% } %>
    </div>
  </main>
  
    <script src="js/script.js"></script>
</body>
</html>