<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

  <main class="min-h-screen bg-zinc-900 text-white p-10">
    <a class="text-blue-500 mb-10 inline-block" href="/">Go back to home</a>
    <h1 class="text-3xl tracking-tighter font-semibold"><%= filename %></h1>
    <p class="text-xl mt-2"><%= filedata %></p>
  </main>

  <script>
  </script>
</body>
</html>